<div class="row">
  <div class="col text-center">
    <img src="https://www.pngitem.com/pimgs/m/167-1676588_wall-e-png-wall-e-wallpaper-4k-transparent.png">

    <h2 class='mt-5'>Looks like your username exists.  You're not a robot, are you?</h2>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>